* {
    background-color: #f4f5f7;
    margin: 0px;
    padding: 0px;
}
nav {
    width: 70px;
    height: calc(100vh);
    float: left;
    position: fixed;
    background: #fafafa !important;
    box-shadow: 4px 5px 15px rgba(50,50,93,.1),2px 5px 8px rgba(0,0,0,.07) !important;
}
nav li {
    text-align: center;
    padding: 0px auto;
    margin-top: 10px;
    list-style: none;
}
nav li a p {
    text-align: center;
    font-size: 70%;
}
img.logo {
    width: 70px;
}
div.bd {
    margin-left: 70px;
    padding: 4px;
    min-height: calc(100vh);
    background-color: #fcfcfc !important;
    display: block;
}
h1.tt {
    margin: 20px 0 10px;
    padding: 0;
    font-style: bold !important;
    color: #009688 !important;
    text-align: center !important;
    margin: 1.5em 5px !important;
    padding: 0.5em 1em !important;
    font-size: 24px !important;
    border-bottom: 1px solid #ddd !important;
}